.great-vibes-regular {
    font-family: "Great Vibes", cursive;
    font-weight: 400;
    font-style: normal;
  }
  
ul{

    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #4b0081;
  
}

li{
    float: left;
    
}

nav a{

    text-decoration: none;
    display: block;
    padding: 25;
    color: white;
    width: 70;
    font-size: 1.5rem;
 
  
}
    nav a:hover{
        background-color:rgb(227, 157, 199) ;
        color: #4b0081;
        border: 1px solid violet;
    
    }
#stye{padding: 0;
    text-align: center;
    font-weight: 600;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-style: italic;
    font-size: 2rem
    ;
}

.title{
    color: #4b0081;
    text-align: center;
    font-size: 5rem;
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif
    
 
   
    
}
body{

    background-color:#ACE1AF;
    width: auto;
}
.def{
 
    /* padding: 30px; */
    /* margin: 10; */
    display: flex
    
    

    
    
    ;}

.def p{


    word-wrap: break-word;
    flex-wrap: wrap;
    border-style: double;
    border-color: #0f0e0f;
    border-width: 10;
    border-radius: 5%;
    height:auto;
    contain:content;
    width: auto;
    color: rgb(69, 4, 4);
    background-color: #9d74b2;
    

    margin-right: 100px;
    padding: 35px;
    font-size: 1.5rem;
    font-weight: 600;
    font-style: italic;
}

.imgbag{
    float: right;
    margin-top: 10;
    border-radius: 10%;
    height: 400;
    width: 400;
    margin-right: 30;
    padding: 0;}

    .bagg{
        float: left;
        height: 400;
        width: 300;
        margin: 20;
        border-radius:20%;
        
        
        }
            .title{
                font-family: "Great Vibes", cursive;
                font-weight: 900;
            
            }




            
/* about section css code------------------------------------------------- */
  
.about{
    display: grid;
    grid-template-columns: repeat(2,1fr);

} 
    
.para{
    background-color: #a57bc2;
    font-size: 1.5rem;
    height: auto;
    margin: 5%;
    padding: 10%;
    font-weight: 700;
    line-height: 1.5;
    border-radius: 10%;
    border-style:double;
    border-width: 20;
    border-color: rgb(28, 21, 122);

}
.anim{
    
    height: 700;
    width: 700;
    margin: 2%;
    padding: 2%;
    border-radius: 10%;
}


/* Address design css code  ---------------------------------------------------*/

.map{
    margin: 10%;
    border-radius: 5%;
}

.mapgrid{
    display: grid;
   grid-template-columns: repeat(2,1fr);}

   .maplocation{
    font-size: 1.9rem;
    margin: 10%;
    color: aliceblue;
    border-radius: 10%;
    background-color: rgba(0,0,0,0.4);
    height: auto;
    padding: 5%;

   }
   .market{
height: 600;
width: 800;
border-radius: 10%;

   }

/* ------------------------------------------------------------------------ */














/* C0ntacts section webpage ------------------------------------------------------*/
#contacts{display: flex;
    justify-content: center;
    margin: 300;
    
    
}


#contacts i:hover{
    color: rgb(173, 20, 28);
}

#contacts i{
    font-size: 6rem;
   
}

.wp{

    margin-right: 100
    ;
    margin-left: 100;
}

.para1{
    display: flex;
    
   background-color: rgba(89, 49, 15,0.4);
   padding: 20;
   margin: 10;
   color: white;

}

/* Products section webpage design-------------------------------------------- */

.prdct{


    display: grid;
    grid-template-columns: repeat(4,1fr);
    gap: 5%;
    margin-top: 10%;
    margin-left: 5%;

    
}
.prdct img{
    border-radius: 10%;
    width: 350;
    height: 350
    
    
    ;
}

.description{

    display: none;
}
.prodactitem:hover .description{
    display: block;
    background-color: rgba(0,0,0,0.4);
    height: auto;
    font-size: x-large;
    color: white;
}

.note{

    display: block;
    background-color: rgba(235, 241, 243, 0.822);
    height: auto;
    color: rgb(10, 10, 10);
    font-size: x-large
    
}
